@import 'reset.css';

body *{
  box-sizing: border-box;
}

.blind {
  position: absolute;
  top: 0;
  left: -99999px;
  opacity: 0;
  text-indent: -9999px;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  height: 50px;
  background: white;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:100%;
  background: #eee;
}

header a.active {
  background: #3d84a8;
  color: #f8f3d4;
  font-weight: bold;
}

.dust {
  display: block;
}

.forecast {
  display: none;
}

.dust-state {
  padding-top: 60px;
  height: 50vh;
  text-align: center;
}

.dust-state.good {
  background: linear-gradient(#3f87dc, #ffffff);
}

.dust-state.normal {
  background: linear-gradient(#00b8a9, #ffffff);
}

.dust-state.bad {
  background: linear-gradient(#ffde7d, #ffffff);
}

.dust-state.verybad {
  background: linear-gradient(#f6416c, #ffffff);
}

.dust-state h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 2vh;
}

.dust-state .state-emoji {
  display: block;
  font-size: 100px;
}

.dust-state .state-msg {
  font-weight: bold;
  padding-top: 1vh;
  font-size: 20px;
}

.dust-state .state-info {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}

.dust-state .state-info > div {
  width: 40%;
  font-size: 20px;
}

.dust-state .position {
  font-size: 12px;
}

.dust-state .position strong {
  font-weight: bold;
}

.dust-graph {
  position: relative;
  height: 50vh;
  overflow: auto;
}

.dust-graph::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(171,237,216, 0.5);
  /* content: ""; */
}

.dust-graph .graph {
  width: 10%;
  height: 15px;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  padding-right: 5px;
}

.dust-graph > .graph-wrap {
  position: relative;
  width: 100%;
  height: 15px;
  margin-bottom: 5px;
}

.dust-graph .on::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(171,237,216, 0.5);
  content: "";
}

.dust-graph .graph.good {
  background-color: #3f87dc;
}

.dust-graph .graph.normal {
  background-color: #00b8a9;
}

.dust-graph .graph.bad {
  background-color: #ffde7d;
}

.dust-graph .graph.verybad {
  background-color: #f6416c;
}


.forecast {
  padding-top: 60px;
  height: 100vh;
}

.forecast h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 2vh 0 3vh;
  text-align: center;
}

.forecast .forecast-img {
  position: relative;
  width: 100%;
}

.forecast-img .dust-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.forecast-img .dust-img.first-child {
  display: block;
  position: static;
  visibility: hidden;
}

.forecast-img .dust-img:nth-child(2) {
  display: block;
}

.dust-img img {
  display: block;
  width: 100%;
}

.forecast-msg {
  font-size: 14px;
  padding: 10px 10px 15px;
  line-height: 1.3;
}

.regional-grade {
  font-size: 12px;
  color: #888;
  padding: 0 10px;
  line-height: 1.3;
}

.controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  height: 20px;
  padding: 0 10px;
}

.controller button {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
}

.controller button::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f04b";
  font-size: 20px;
  font-weight: 900;
}

.controller .bar {
  position: relative;
  width: calc(100% - 40px);
  height: 2px;
  background: #ddd;
}

.controller .active-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #000
}

.controller .handle-btn {
  position: absolute;
  top: -8px;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
